@import "tailwindcss";

body, html {
    overflow: hidden;
    height: 100%;
    margin: 0;
    padding: 0;
  }
  

::-webkit-scrollbar {
    width: 4px;
    height: 4px;
}

::-webkit-scrollbar-track {
    background: #0f172a;
}

::-webkit-scrollbar-thumb {
    background: #1e40af;
    border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
    background: #2563eb;
}

/* Firefox scrollbar support for specific elements */
* {
    scrollbar-width: thin;
    scrollbar-color: #1e40af #0f172a;
}